img.recipe-img {
  max-width: 250px;
}

tr:hover {
  background-color: pink;
  cursor: pointer;
}

thead {
  background-color: palevioletred;
}

.recipes-page {
  min-height: 100vh;
  background-color: #ffc4d6;
  padding: 2rem;
}
