<div class="detail-page">
  <h1 class="text-center mb-4">Recetas uniandes</h1>

  <div class="detail-card">
    <div class="row g-4">

      <!-- Imagen a la izquierda -->
      <div class="col-md-5 d-flex justify-content-center">
        <img
          [src]="recipe?.imagen"
          [alt]="recipe?.nombre"
          class="detail-image"
        />
      </div>

      <!-- Información a la derecha -->
      <div class="col-md-7">
        <h2 class="mb-3">{{ recipe?.nombre }}</h2>

        <div class="row mb-3">
          <div class="col-6">
            <p><strong>Porciones:</strong> {{ recipe?.porciones }}</p>
            <p><strong>Dificultad:</strong> {{ recipe?.dificultad }}</p>
          </div>
          <div class="col-6">
            <p><strong>Tiempo:</strong> {{ recipe?.tiempo_minutos }} min</p>
            <p><strong>Tipo:</strong> {{ recipe?.tipo }}</p>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-6 mb-3">
            <h4>Ingredientes</h4>
            <ul>
              <li *ngFor="let ingredient of recipe?.ingredientes">
                <span>{{ ingredient.nombre }}</span>
                <span *ngIf="ingredient.cantidad">

                  - {{ ingredient.cantidad }} {{ ingredient.unidad }}
                </span>
              </li>
              <li><strong>Ingrediente más usado: </strong> {{ maxIngredient?.nombre }}</li>
            </ul>
          </div>


          <div class="col-md-6">
            <h4>Pasos</h4>
            <ol>
              <li *ngFor="let paso of recipe?.pasos">
                {{ paso }}
              </li>
            </ol>
          </div>
        </div>

        <button class="btn btn-primary mt-4" routerLink="/recipes">
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>
